<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <h1>Weather</h1>
    </header>

    <div class="main-content">

      <p>用網站看溫度!</p>
      <form>
        <input placeholder="Location">
        <button>Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>

    </div>

    <!-- <script src="/javascripts/jquery-3.3.1.min.js"></script> -->
    <script src="/javascripts/indexPage.js"></script>
  </body>
</html>
